body {
  height: 100vh;
  margin: 0;
  background: #ffe6eb;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

button {
  padding: 12px 24px;
  bottom: 50px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

#yes {
  background: #ff4d6d;
  color: white;
  left: 40%;
}

#no {
  background: #555;
  color: white;
  position: fixed;
  left: 60%;
}
.heart {
  position: fixed;
  font-size: 40px;
  color: #ff4d6d;
  animation: floatUp 2s ease-out forwards;
  pointer-events: none;
}

@keyframes floatUp {
  from {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  to {
    transform: translateY(-120px) scale(1.5);
    opacity: 0;
  }
}
